<h1>Generic Website</h1>
<nav>
    <a routerLink="">Home</a>
    &nbsp;
    <a routerLink="/about">About</a>
    &nbsp;
    <a routerLink="contact">Contact</a>
    <br>
    <a routerLink="details/1">Mercury</a>
    &nbsp;
    <a routerLink="details/2">Venus</a>
    &nbsp;
    <a routerLink="details/3">Earth</a>
    &nbsp;
    <a routerLink="details/4">Mars</a>
    &nbsp;
    <a routerLink="details/5">Jupiter</a>
    &nbsp;
    <a routerLink="details/6">Saturn</a>
    &nbsp;
    <a routerLink="details/7">Uranus</a>
    &nbsp;
    <a routerLink="details/8">Neptune</a>
</nav>
<router-outlet></router-outlet>